* {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*body*/

body {
  background-color: #003435;
  color: rgb(240, 255, 254);
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(image/me.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 170px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: rgb(240, 255, 254);
  text-decoration: none;
  font-size: 20px;
  font-style: bold;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(248, 245, 230);
  position: absolute;
  left: 0%;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

p {
  font-family: serif;
  font-size: 80px;
}

h1 {
  font-size: 42px;
  color: rgb(215, 187, 110);
}

h3 {
  font-size: 42px;
}

h2 {
  font-size: 20px;
  padding-top: 20px;
}

.header-text {
  margin-top: 20%;
}

/*About*/

#about {
  padding-top: 250px;
}

#about h1 {
  font-size: 55px;
  text-align: left;
}
.aboutme {
  width: 90%;
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.about-col-1 {
  flex-basis: 35%;
}
.about-col-2 {
  flex-basis: 55%;
}
.about-col-2 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  padding: 10px;
  color: rgb(240, 255, 254);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 20px;
}

.tab-contents ul li span {
  color: rgb(215, 187, 110);
  font-size: 20px;
}
/*Portfolio*/

#portfolio {
  padding: 60px 0;
}
#portfolio h1 {
  font-size: 55px;
}
.work1 {
  width: 80%;
  border-radius: 16px;
}
.work-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

.layer h3 {
  font-size: 25px;
  color: rgb(215, 187, 110);
}
p1 {
  font-size: 22px;
}
a {
  color: rgb(215, 187, 110);
  font-size: 25px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: bold;
}

/*contact*/
p2 {
  font-size: 25px;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
button {
  background-color: rgb(215, 187, 110);
  padding: 14px 18px;
  font-weight: 500;
  font-size: 25px;
  border-radius: 6px;
  border: 0;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(240, 255, 254);
  padding: 15px;
  margin: 15px 0;
  color: #003435;
  font-size: 18px;
  border-radius: 6px;
}

/*scroll tracking*/

.scroll-tracker {
  position: fixed;
  inset: 0 0 auto;
  height: 0.3rem;
  background-color: rgb(215, 187, 110);
  transform-origin: left;
}

/* css for small screen */
@media only screen and (max-width: 600px) {
}

/*progress button*/
#progress {
  background-color: rgb(215, 187, 110);
  position: fixed;
  font-size: 35px;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
